div {
  text-align: center;
  margin: 50px;
}
p {
  font-weight: bold;
}

.left {
  text-align: center
    ;
}
img {
  width: 300px;
  border: 15px solid blue;
  background-color: yellow;
}
.cat2 {
  width: 200px;
}
